{% block head %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <title>Moje konto &#8211; Accommodation Announcements</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />



    <link rel='stylesheet' id='contact-form-7-css'  href='css/styles.css?ver=5.0.5' type='text/css' media='all' />
    <link rel='stylesheet' id='select2-css'  href='css/select2.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='accannouncements-layout-css'  href='css/accannouncements-layout.css?ver=3.5.1' type='text/css' media='all' />
    <style id='accannouncements-layout-inline-css' type='text/css'>

        .infinite-scroll .accannouncements-pagination {
            display: none;
        }
    </style>
    <link rel='stylesheet' id='accannouncements-smallscreen-css'  href='css/accannouncements-smallscreen.css?ver=3.5.1' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='accannouncements-general-css'  href='css/accannouncements.css?ver=3.5.1' type='text/css' media='all' />
    <style id='accannouncements-inline-inline-css' type='text/css'>
        .accannouncements form .form-row .required { visibility: visible; }
    </style>

    <link rel='stylesheet' id='acc_announcements-css'  href='css/style1402.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css'  href='css/bootstrap.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='acc_announcements-responsive-css'  href='css/responsive.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='css/font-awesome.css?ver=4.9.8' type='text/css' media='all' />

    <link rel='stylesheet' id='acc_announcements-body-font-css'  href='//fonts.googleapis.com/css?family=Raleway%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='acc_announcements-menu-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='acc_announcements-logo-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=4.9.8' type='text/css' media='all' />

    <script type='text/javascript' src='js/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='js/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='js/bootstrap.js?ver=4.9.8'></script>
    <script type='text/javascript' src='js/jquery.smartmenus.js?ver=4.9.8'></script>
    <script type='text/javascript' src='js/jquery.smartmenus.bootstrap.js?ver=4.9.8'></script>
    <script type='text/javascript' src='js/imgLiquid.js?ver=4.9.8'></script>
    <script type='text/javascript' src='js/modernizr.js?ver=4.9.8'></script>
    <script type='text/javascript' src='js/stickUp.js?ver=4.9.8'></script>
    <script type='text/javascript' src='js/sticky.js?ver=4.9.8'></script>

    <!--[if lt IE 9]>
    <script type='text/javascript' src='js/html5.js?ver=4.9.8'></script>
    <![endif]-->


    <meta name="referrer" content="always"/>

    <link rel='stylesheet'  href='css/style2411.css' type='text/css' media='screen' />

    <noscript><style>.accannouncements-product-gallery{ opacity: 1 !important; }</style></noscript>
    <meta name='robots' content='noindex,follow' />


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110327317-1"></script>



    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());


        gtag('config', 'UA-110327317-1');
    </script>
</head>

<body class="page-template page-template-page-fullwidth page-template-page-fullwidth-php page page-id-4179 accannouncements-account accannouncements-page accannouncements-no-js">

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="grid-container">
    <div class="clear"></div>
    <div id="header-holder">
        <div id ="header-wrap">
            <nav class="navbar navbar-default">
                <div id="logo">
                    <a href="{{app.request.getBaseURL()}}/">Accommodation Announcements</a>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="menu-menu-1" class="nav navbar-nav"><li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-6"><a title="Strona główna" href="{{app.request.getBaseURL()}}/">Strona główna</a></li>
                        <li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145"><a title="Aktualności" href="{{app.request.getBaseURL()}}/offerslist">Oferty</a></li>



                        <li id="menu-item-3697" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3697"><a title="Kontakt" href="{{app.request.getBaseURL()}}/kontakt">Kontakt</a></li>

                        <li id="menu-item-4180" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4179 current_page_item menu-item-4180 active"><a title="Moje konto" href="{{app.request.getBaseURL()}}/account">Moje konto</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
{% endblock %}


    <div id="main" class="col1">

        <div class="content-posts-wrap">
            <div id="content-box">
                <div id="post-body">
                    <div class="post-single post-4179 page type-page status-publish hentry">
                        <h1 id="post-title" class="entry-title post-4179 page type-page status-publish hentry">Moje konto </h1>

                        <div class="breadcrumbs">
                            <div class="breadcrumbs-wrap">
                                <ul><li><a href="/">Home</a></li><li class="separator"> / </li><li> Moje konto</li></ul>					</div>
                        </div>

                        <div id="article">
                            <div class="accannouncements"><div class="accannouncements-notices-wrapper"></div>
                                <div class="col-sm-6 col-md-6" id="customer_login">
                                    <FORM class="u-column1 col-1" method="post" action="{{app.request.getBaseURL()}}/login">
                                        <h2>Zaloguj się</h2>
                                        {% if show_message_login %}
                                            {% if not was_ok %}
                                                <H1 style="color: #FF0000;"> Error: {{error_message}} Kod błędu: {{error_code}}</H1>
                                            {% endif %}
                                        {% endif %}
                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="username">Użytkownik lub e-mail&nbsp;<span class="required">*</span></label>
                                                <input type="text" class="accannouncements-Input accannouncements-Input--text input-text" name="username" id="username" autocomplete="username" value="" />			</p>

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="password">Hasło&nbsp;<span class="required">*</span></label>
                                                <input class="accannouncements-Input accannouncements-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" />
                                            </p>

                                            <p class="form-row">
                                                <input type="hidden" id="accannouncements-login-nonce" name="accannouncements-login-nonce" value="d326c07e50" /><input type="hidden" name="" value="" />
                                                <button type="submit" class="accannouncements-Button button" name="login" value="Zaloguj się">Zaloguj się</button>
                                                <label class="accannouncements-form__label accannouncements-form__label-for-checkbox inline">
                                                    <input class="accannouncements-form__input accannouncements-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Zapamiętaj mnie</span>
                                                </label>
                                            </p>

                                            <p class="accannouncements-LostPassword lost_password">
                                                <a href="/">Nie pamiętasz hasła?</a>
                                            </p>
                                        </FORM>
                                    </div>

                                    <div class="col-sm-6 col-md-6">
                                        <FORM class="u-column1 col-1" method="post" action="{{app.request.getBaseURL()}}/register">
                                        <h2>Zarejestruj się</h2>
                                            {% if show_message_register %}
                                                {% if was_ok %}
                                                    <H1 style="color: #00FF00;">{{error_message}}</H1>
                                                {% else %}
                                                    <H1 style="color: #FF0000;">Error: {{error_message}} Kod: {{error_code}}</H1>
                                                {% endif %}
                                            {% endif %}

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="reg_email">Adres E-mail&nbsp;<span class="required">*</span></label>
                                                <input type="email" class="accannouncements-Input accannouncements-Input--text input-text" name="email" id="reg_email" autocomplete="email" />
                                            </p>

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="reg_name">Imię<span class="required">*</span></label>
                                                <input type="text" class="accannouncements-Input accannouncements-Input--text input-text" name="name" id="reg_name" />
                                            </p>

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="reg_surname">Nazwisko<span class="required">*</span></label>
                                                <input type="text" class="accannouncements-Input accannouncements-Input--text input-text" name="surname" id="reg_surname" />
                                            </p>

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="reg_password">Hasło<span class="required">*</span></label>
                                                <input type="password" class="accannouncements-Input accannouncements-Input--text input-text" name="password" id="reg_password" />
                                            </p>

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="reg_marketing">Zgoda na marketing</label>
                                                <input type="checkbox" class="accannouncements-Input" name="marketing" id="reg_marketing" />
                                            </p>

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="reg_regulations">Zgoda na regulamin<span class="required">*</span></label>
                                                <input type="checkbox" class="accannouncements-Input" name="regulations" id="reg_regulations" />
                                            </p>

                                            <p class="accannouncements-form-row accannouncements-form-row--wide form-row form-row-wide">
                                                <label for="reg_rodo">Zgoda na RODO<span class="required">*</span></label>
                                                <input type="checkbox" class="accannouncements-Input" name="rodo" id="reg_rodo" />
                                            </p>

                                            <div class="accannouncements-privacy-policy-text"></div>
                                            <p class="accannouncements-FormRow form-row">
                                                <input type="hidden" id="accannouncements-register-nonce" name="accannouncements-register-nonce" value="ce32910364" />
                                                <button type="submit" class="accannouncements-Button button" name="register" value="Zarejestruj się">Zarejestruj się</button>
                                            </p>

                                        </FORM>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

{% block footer %}
</div>
    <div class="social">
        <div id="social-wrap">
            <div id="social-bar">
                <a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>

                <a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>

                <a href="#" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a>

                <a href="#" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                <a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>

                <a href="#" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>

            </div>
        </div>
    </div>	<div class="clear"></div>

    <div id="footer" style="background:#d80032">
        <div id="footer-wrap">
            <div id="footer-box" class="footer-v4">
                <div class="sidebar-footer">
                    <div>
                        <div id="nav_menu-2" class="footer-widget-col widget_nav_menu"><h4>Accommodation Announcements</h4><div class="menu-f1-container"><ul id="menu-f1" class="menu"><li id="menu-item-3573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3573"><a href="/">Aktualności</a></li>
                                </ul></div></div>		</div>
                </div>
                <div class="sidebar-footer">
                    <div>
                        <div id="nav_menu-3" class="footer-widget-col widget_nav_menu"><h4>O nas</h4><div class="menu-f2-container"><ul id="menu-f2" class="menu"><li id="menu-item-3691" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3691"><a href="/">O firmie</a></li>
                                    <li id="menu-item-3698" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3698"><a title="Kontakt" href="{{app.request.getBaseURL()}}/kontakt">Kontakt</a></li>
                                </ul></div></div>		</div>
                </div>
                <div class="sidebar-footer">
                    <div>
                        <div id="nav_menu-4" class="footer-widget-col widget_nav_menu"><h4>DLA klienta</h4><div class="menu-f3-container"><ul id="menu-f3" class="menu"><li id="menu-item-3692" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3692"><a href="/">Masz apartament do wynajęcia?</a></li>
                                </ul></div></div>		</div>
                </div>
                <div class="sidebar-footer lastone">
                    <div>
                        <div id="nav_menu-5" class="footer-widget-col widget_nav_menu"><h4>Wynajmij</h4><div class="menu-f4-container"><ul id="menu-f4" class="menu"><li id="menu-item-4147" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4147"><a href="#">Apartament</a></li>
                                </ul></div></div>		</div>
                </div>
            </div>		</div><!--footer-wrap-->
    </div><!--footer-->
    <div id="copyright">
        <div class="copyright-wrap">
            <span class="left"><i class="fa fa-copyright"></i><a href="/">Copyright 2018 Accommodation Announcements</a></span>
            <span class="right">Accomodation announcements</span>
        </div>
    </div><!--copyright--></div><!--grid-container-->



<script type='text/javascript' src='js/scripts.js?ver=5.0.5'></script>
<script type='text/javascript' src='js/jquery.blockUI.min.js?ver=2.70'></script>



<script type='text/javascript' src='js/selectWoo.full.min.js?ver=1.0.4'></script>
<script type='text/javascript' src='js/js.cookie.min.js?ver=2.1.4'></script>

<script type='text/javascript' src='js/accannouncements.min.js?ver=3.5.1'></script>


<script type='text/javascript'>
    jQuery( 'body' ).bind( 'wc_fragments_refreshed', function() {
        jQuery( 'body' ).trigger( 'jetpack-lazy-images-load' );
    } );

</script>


<script type='text/javascript' src='js/custom.js?ver=4.9.8'></script>
<script type='text/javascript' src='js/unslider.js?ver=4.9.8'></script>
<script type='text/javascript' src='js/jquery.flexslider.js?ver=4.9.8'></script>
<script type='text/javascript' src='js/ideal-image-slider.js?ver=20160115'></script>
<script type='text/javascript' src='js/scrollup.js?ver=4.9.8'></script>

<script type='text/javascript'>
    /* <![CDATA[ */
    var php_vars = {"slideshowSpeed":"5000","animationSpeed":"800"};
    /* ]]> */
</script>

<script type='text/javascript' src='js/slides.js?ver=4.9.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var php_vars = {"slideshowSpeed":"5000","animationSpeed":"800","sliderHeight":"500","sliderEffect":"fade"};
    /* ]]> */
</script>
<script type='text/javascript' src='js/ideal-slides.js?ver=4.9.8'></script>



<script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/accannouncements-no-js/, 'accannouncements-js');
    document.body.className = c;
</script>
</body>
</html>
{% endblock %}