{{ block("head", "base.html.twig") }}

    <div id="main" class="col1">

        <div class="content-posts-wrap">
            <div id="content-box">
                <div id="post-body">
                    <div class="post-single post-4179 page type-page status-publish hentry">
                        <h1 id="post-title" class="entry-title post-4179 page type-page status-publish hentry">Moje rezerwacje </h1>
                        <div class="breadcrumbs">
                            <div class="breadcrumbs-wrap">
                                <ul><li><a href="/">Home</a></li><li class="separator"> / </li><li> Moje rezerwacje</li></ul>					</div>
                        </div>
                        <div id="article">
                            <div class="accannouncements">
                                <nav class="accannouncements-MyAccount-navigation">
                                    <ul>

                                        <li class="accannouncements-MyAccount-navigation-link accannouncements-MyAccount-navigation-link--orders">
                                            <a href="{{app.request.getBaseURL()}}/my_offers">Moje oferty</a>
                                        </li>

                                        <li class="accannouncements-MyAccount-navigation-link accannouncements-MyAccount-navigation-link--orders">
                                            <a href="{{app.request.getBaseURL()}}/my_orders">Moje rezerwacje</a>
                                        </li>

                                        <li class="accannouncements-MyAccount-navigation-link accannouncements-MyAccount-navigation-link--edit-account is-active">
                                            <a href="{{app.request.getBaseURL()}}/account">Szczegóły konta</a>
                                        </li>

                                        <li class="accannouncements-MyAccount-navigation-link accannouncements-MyAccount-navigation-link--customer-logout">
                                            <a href="{{app.request.getBaseURL()}}/logout">Wyloguj</a>
                                        </li>
                                    </ul>
                                </nav>


                                <div class="accannouncements-MyAccount-content">
                                    {% if show_message %}
                                        {% if was_ok %}
                                            <H1 style="color: #00FF00;">{{error_message}}</H1>
                                        {% else %}
                                            <H1 style="color: #FF0000;">Error: {{error_message}} Kod: {{error_code}}</H1>
                                        {% endif %}
                                    {% endif %}

                                    <table class="accannouncements-orders-table accannouncements-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
                                        <thead>
                                        <tr>
                                            <th class="accannouncements-orders-table__header accannouncements-orders-table__header-order-number"><span class="nobr">Rezerwacja</span></th>
                                            <th class="accannouncements-orders-table__header accannouncements-orders-table__header-order-date"><span class="nobr">Okres</span></th>
                                            <th class="accannouncements-orders-table__header accannouncements-orders-table__header-order-status"><span class="nobr">Status</span></th>
                                            <th class="accannouncements-orders-table__header accannouncements-orders-table__header-order-total"><span class="nobr">Suma</span></th>
                                            <th class="accannouncements-orders-table__header accannouncements-orders-table__header-order-actions"><span class="nobr">Akcje</span></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for book_per_user in book_list_per_user.getList()%}
                                        <tr class="accannouncements-orders-table__row accannouncements-orders-table__row--status-on-hold order">
                                            <td class="accannouncements-orders-table__cell accannouncements-orders-table__cell-order-number" data-title="Rezerwacja">
                                                <a href="#">#{{book_per_user.getIdReservation()}}</a>
                                            </td>
                                            <td class="accannouncements-orders-table__cell accannouncements-orders-table__cell-order-date" data-title="Data">
                                                Od {{book_per_user.getDateFrom()}} do {{book_per_user.getDateTo()}}
                                            </td>
                                            <td class="accannouncements-orders-table__cell accannouncements-orders-table__cell-order-status" data-title="Status">
                                                {{book_per_user.getPaymentName()}}
                                            </td>
                                            <td class="accannouncements-orders-table__cell accannouncements-orders-table__cell-order-total" data-title="Suma">
                                                Do zapłaty: {{book_per_user.getToPay()}} zł<BR>
                                                Zapłacono: {{book_per_user.getPaid()}} zł
                                            </td>
                                            <td class="accannouncements-orders-table__cell accannouncements-orders-table__cell-order-actions" data-title="Działania">
                                                <a href="{{app.request.getBaseURL()}}/delete_booking-{{book_per_user.getIdReservation()}}">
                                                    <input type="button" value="Usuń" />
                                                </a>
                                                <a href="{{app.request.getBaseURL()}}/confirm_booking-{{book_per_user.getIdReservation()}}">
                                                    <input type="button" value="Zapłać" />
                                                </a>
                                            </td>
                                        </tr>
                                        {%endfor %}
                                        </tbody>
                                    </table>




                                    <div class="accannouncements-notices-wrapper"></div></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>



{{ block("footer", "base.html.twig") }}