{{ block("head", "base.html.twig") }}

<div id="main" class="col2-l" style="margin-top: 0px;">
    <div class="clear"></div>
    <div class="home-blog">
        <div class="blog-top-image">
            <div>
                <h1 class="section-title-right">OFERTY</h1>
            </div>
        </div>
        <div class="content-posts-wrap">
            <div class="standard-posts-wrapper" style="width: 100%">
                <div class="posts-wrapper">
                    <div id="post-body">
                        <div class="post-single">



                            {% for row_of_offer in all_offer.getList()%}

                                <div class="post-wrapper wow fadeIn post type-post status-publish format-standard has-post-thumbnail hentry" data-wow-delay="0.5s">
                                    <div class="image-holder">
                                        <div class="thumb-wrapper" style="background-image: url(assets/fot{{ random(['1','2','3']) }}.jpg); background-size: cover; background-position: center top; background-repeat: no-repeat;">
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <a class="post-title" href="{{ app.request.getBaseURL() }}/offer-{{ row_of_offer.getIdOffer() }}"><h3 class="entry-title post type-post status-publish format-standard has-post-thumbnail hentry">{{ row_of_offer.getTitle() }}</h3></a>
                                        <p>{{ row_of_offer.getDescription|slice(0, 500) ~ '...' }}</p>
                                        <div class="clear"></div>
                                        <div class="meta">
                                            <span><i class="fa fa-calendar"></i><span class="post_date date updated">Oferta dostępna od {{row_of_offer.getDateValidityFrom()}} do {{row_of_offer.getDateValidityTo()}}.</span></span>
                                            <br>
                                            <span><i class="fa fa-dollar"></i>
                                                {% if row_of_offer.getPricePerDay() == row_of_offer.getPromotionPricePerDay() %}
                                                    {{row_of_offer.getPricePerDay()}} PLN / dobę
                                                {% else %}
                                                    <span style="text-decoration: line-through; color:red;">{{row_of_offer.getPricePerDay()}}</span> {{row_of_offer.getPromotionPricePerDay()}} PLN / dobę {{row_of_offer.getPromotionName()}}
                                                {% endif %}
                                            </span>
                                            <br>
                                            <br>
                                            <br>
                                            <span><i class="fa fa-arrow-circle-o-right"></i><a href="{{ app.request.getBaseURL() }}/offer-{{ row_of_offer.getIdOffer() }}">czytaj więcej</a></span>
                                        </div>
                                    </div>
                                </div>



                            {%endfor %}



                            <div class="clear"></div> 					</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



{{ block("footer", "base.html.twig") }}